/*********GENERAL*********/


body {
	font-family: Corbel, Arial;
	margin: 0;

}

a {
	color: #000000;
	text-decoration: none;

}

/***********HEADER**********/

#header{
       background-color: #ff3300;
}

h1 {
	font-size: 36px;
	margin: 0;
	text-align: center;
	padding: 15px 0 0 0;
	color: #ffffff;
	text-transform: uppercase;
}

h2 {
    text-align: center;
    margin: 0;
    color: #ffffff;

}

/************NAV*********/

#nav{
	background-color: #599a68;
	text-align: center;
	list-style-type: none;
}

#nav li{
	display: inline-block;
	padding: 6px 8px 6px 8px;

}

#nav li a {
	color: #ffffff;
}

#nav li:hover{
	background-color: #6ab47b;
	border-radius: 4px;
}


#nav li {
	transition: background .3s;
}

/***********CONTENT**********/

#content{
      width: 600px;
      margin: 30px auto;
}

#content h4 {
	border-bottom: #599a68 solid 3px;
}

#content p a{
	text-transform: uppercase;
	text-decoration: underline;
}

#content img{
	font-size: 50px;
	width: 100%;
}